@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .main {
    height: 735px;
    padding-top: 237px;
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__heading {
      width: 343px;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
    &__text {
      width: 343px;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }
  .game__box {
    width: 767px;
    background-size: cover;
  }
}

@media (max-width: 720px) {
  .main {
    background: url(./img/background-mobile.jpg);
    background-position: center;
    background-size: cover;
  }
}
