@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .main {
    height: 735px;
    padding-top: 237px;
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__heading {
      width: 343px;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
    &__text {
      width: 343px;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }

  .game {
    padding-bottom: 178px;
    &__box {
      width: 343px;
      background-size: cover;
    }
  }

  .sectionOne {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 136px;
    &__content {
      text-align: center;
      justify-content: center;
      padding-bottom: 64px;
    }
    &__header {
      width: 243px;
      height: 39px;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
    }
    &__text {
      width: 343px;
      height: 66px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
    }
    &__img {
      width: 344px;
      height: 236px;
    }
  }

  .sectionTwo {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    &__content {
      text-align: center;
      justify-content: center;
      padding-bottom: 64px;
    }
    &__header {
      width: 264px;
      height: 39px;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
    }
    &__text {
      width: 343px;
      height: 66px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
    }
    &__img {
      width: 344px;
      height: 236px;
    }
  }
}

@media (max-width: 720px) {
  .main {
    background: url(./img/background-mobile.jpg);
    background-position: center;
    background-size: cover;
  }
}
